import os

# Need to figure out how to populate these things automatically
__version__ = "{{ cdb_ontology_version }}+ds.{{ domain_specic_ontology_version }}.{{ code_gen_version }}" #type: ignore
__library_name__ = '{{ Ontology_name }}_sdk' #type: ignore